* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: flex-start;
  padding: 50px;
  gap: 50px;
  background-color: #007a5e; /* Zelfde achtergrondkleur als de pagina */
}

.logo {
  width: 100px; /* Pas deze waarde aan naar wens */
  height: auto; /* Behoudt de aspect ratio */
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #007a5e;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.phone_image img {
  filter: brightness(0) saturate(100%) invert(36%) sepia(97%) saturate(747%) hue-rotate(90deg) brightness(93%) contrast(92%);
}

.details {
  margin-left: 15px;
}

.details h4 {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.details span {
  color: #555;
}

footer {
  background-color: #004d40;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #00695c;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .card {
    max-width: 90%;
  }
}
