.header_chat {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 70%; 
    margin-left: 30%;
}

.header_chat p {
    margin-right: auto;
}

.profiel-img {
    margin-right: 10px; 
    border-radius: 50%; 
}

.options-img {
    margin-left: 0; 
}